<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>tanares resource maker - Item set</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">



    <style>
        @media print {
            .impressaoNao {
                display: none;
            }
            .impressao {
                display: block;
            }
            .newpage {
                page-break-after: always;
            }
        }
        
        @media screen {
            .impressao {
                display: none;
            }
        }
    </style>
</head>


<body>

    <div id="app" class="">

        <div class="impressao ">
            <div class="card m-4 border-0 newpage" v-for="item in ItensSet.Itens">
                <div class="card-body">
                    {{item.categoria}} {{item.tipo}} Level {{item.level.id}}<br> {{item.nome}}
                    <br> Proficiency: {{item.proficiency.toString()}}<br> Bonus:
                    <span v-if="item.tipo =='Weapon'">
                        <span v-if="item.ataque>0">+{{item.ataque}} to Hit</span>
                    <span v-if="item.dano>0 && item.ataque>0">, </span>
                    <span v-if="item.dano>0">+{{item.dano}} Damage</span>
                    </span>
                    <span v-if="item.tipo=='Armor'">
                        <span v-if="item.hp>0">+{{item.hp}} HP</span>
                    <span v-if="item.defesa>0 && item.hp>0">, </span>
                    <span v-if="item.defesa>0">+{{item.defesa}} Defense</span>
                    </span>
                    <br> Property <span v-if="item.Propertycp!=0">(CP={{item.Propertycp}})</span>: {{item.Property}}<br>
                    <div>Temporary (Temp): Termina no inicio do seu próximo turno.</div>
                </div>

            </div>
        </div>


        <h1 class="site-heading text-center text-white d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">FORGE POWER</span>
            <span class="site-heading-lower">Item Set</span>
        </h1>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 sticky-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">
                    Item Set</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse  navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                            </a>
                        </li>
                        <li class="nav-item  px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="#!" onclick="sessionStorage.ItensSet=null;location.reload();">
                                <i class="fas fa-file"></i> Novo
                            </a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <input id="fileInput" type="file" accept=".txt" style="display:none;" v-on:change="getFile" />
                            <a class="nav-link text-uppercase text-expanded" href="#!" onclick="document.getElementById('fileInput').click();">
                                <i class="far fa-folder-open"></i> Abrir
                            </a>
                        </li>
                        <li class="nav-item  px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="#!" v-on:click="download(ItensSet,'itemset')">
                                <i class="fas fa-download"></i> Salvar
                            </a>
                        </li>
                        <li class="nav-item  px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="#!" onclick="print()">
                                <i class="fas fa-print"></i> Imprimir
                            </a>
                        </li>
                        <li class="nav-item  px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="#!" data-toggle="modal" data-target="#ModalLibrary">
                                <i class="fas fa-book"></i> Livraria
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="page-section cta impressaoNao">
            <div class="container ">
                <div class="cta-inner rounded">
                    <div class="row mt-2 mb-4">
                        <div class="col-md-6 text-center">
                            <button class=" btn btn-success btn-sm" v-on:click="addItem(tiposItens[0])">Add
                        Weapon</button></div>
                        <div class="col-md-6 text-center">
                            <button class=" btn btn-success btn-sm" v-on:click="addItem(tiposItens[1])">Add
                        Armor</button></div>
                    </div>
                    <div class="card mt-2 mb-2" v-for="item in ItensSet.Itens">
                        <div class="card-header">{{item.tipo}}
                            <button class="float-right btn btn-danger btn-sm" v-on:click="if(confirm('deseja realmente excluir este item?')){dropItem(item.id)}">
                                <i class="far fa-trash-alt"></i></button>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-8">
                                    <label>Name:</label>
                                    <input class="form-control" v-model="item.nome"></textarea>
                                </div>
                                <div class="form-group col-4">
                                    <label>CP:</label>
                                    <input class="form-control" readonly v-model="item.capacidadepoder"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Level:</label>
                                    <select class="form-control" v-model="item.level">
                                <option v-for="level in itemlevels" v-bind:value="level">Level {{level.id}}
                                </option>
                            </select>
                                </div>
                                <div class="form-group col-md-4" v-if="item.tipo == 'Weapon'">
                                    <label>Category:</label>
                                    <select class="form-control" v-model="item.categoria">
                                <option v-for="c in categoriaArma" v-bind:value="c">{{c}}</option>
                            </select>
                                </div>
                                <div class="form-group col-md-4" v-if="item.tipo == 'Armor'">
                                    <label>Category:</label>
                                    <select class="form-control" v-model="item.categoria">
                                <option v-for="c in categoriaArmadura" v-bind:value="c">{{c}}</option>
                            </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Power source:</label><br>
                                    <div class="form-check-inline" v-for="(fp,index) in fontesPoder">
                                        <label class="form-check-label">
                                    <input type="checkbox" v-bind:id="fp+index" v-bind:value="fp"
                                        v-model="item.fontesPoder" class="form-check-input">
                                    {{fp}}
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label>Proficiency:</label><br>
                                    <div class="form-check-inline" v-for="(p,index) in Proficiency">
                                        <label class="form-check-label">
                                    <input type="checkbox" v-bind:id="p+index" v-bind:value="p"
                                        v-model="item.proficiency" class="form-check-input">
                                    {{p}}
                                </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-if="item.tipo == 'Weapon'">
                                <div class="form-group col-md-6">
                                    <label>Damage:
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-warning"
                                        v-on:click="item.changeDG(-1)"><i class="fas fa-caret-down"></i></button>
                                    <button type="button" class="btn btn-primary"
                                        v-on:click="item.changeDG(1)"><i class="fas fa-caret-up"></i></button>
                                </div>
                            </label>
                                    <input type="number" readonly class="form-control" v-model="item.dano">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Attack:
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-warning"
                                        v-on:click="item.changeATT(-1)"><i class="fas fa-caret-down"></i></button>
                                    <button type="button" class="btn btn-primary"
                                        v-on:click="item.changeATT(1)"><i class="fas fa-caret-up"></i></button>
                                </div>
                            </label>
                                    <input type="number" readonly class="form-control" v-model="item.ataque">
                                </div>
                            </div>
                            <div class="row" v-if="item.tipo == 'Armor'">
                                <div class="form-group col-md-6">
                                    <label>HP:
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-warning"
                                        v-on:click="item.changeHP(-1)"><i class="fas fa-caret-down"></i></button>
                                    <button type="button" class="btn btn-primary"
                                        v-on:click="item.changeHP(1)"><i class="fas fa-caret-up"></i></button>
                                </div>
                            </label>
                                    <input type="number" readonly class="form-control" v-model="item.hp">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Defense:
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-warning"
                                        v-on:click="item.changeDEF(-1)"><i class="fas fa-caret-down"></i></button>
                                    <button type="button" class="btn btn-primary"
                                        v-on:click="item.changeDEF(1)"><i class="fas fa-caret-up"></i></button>
                                </div>
                            </label>
                                    <input type="number" readonly class="form-control" v-model="item.defesa">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-9">
                                    <label for="mlevel">Property:</label>
                                    <textarea class="form-control" rows="3" v-model="item.Property"></textarea>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Property CP:
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-warning"
                                        v-on:click="item.changePCP(-0.5)"><i class="fas fa-caret-down"></i></button>
                                    <button type="button" class="btn btn-primary"
                                        v-on:click="item.changePCP(0.5)"><i class="fas fa-caret-up"></i></button>
                                </div>
                            </label>
                                    <input type="number" readonly class="form-control" v-model="item.Propertycp">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section about-heading impressaoNao">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/ataque.jpg" alt="">
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Considerações para criação</span>
                                    <span class="section-heading-lower">ITENS </span>
                                </h2>
                                <ul>
                                    <li>Cada herói pode equipar uma arma e uma armadura.</li>
                                    <li>Os itens só podem ser equipados no começo de cada quest.</li>
                                    <li>Não poderá trocar itens no decorrer de uma quest.</li>
                                    <li>Os equipamentos possuem uma proficiência:
                                        <ul>
                                            <li>Proficiência na Arma (dois combat roles por item): heróis recebem todos os bônus e efeitos descritos do item em todos os seus ataques</li>
                                            <li>Não proficiência na Arma (demais combat roles): heróis recebem todos os bônus e efeitos descritos do item <strong>apenas nos ataques básicos</strong>.</li>
                                        </ul>
                                    </li>
                                    <li>Armaduras só podem ser equipadas por 3 combat roles específicos a serem definidos em cada item.</li>
                                    <li>Personagens Melee só tem proficiência com armas Melee, e o mesmo vale para personagens Ranged. De forma geral a arma que o personagem utiliza não altera seu ataque básico ou a distância de seus ataques. Uma arma específica
                                        pode fazer isso em seu efeito.</li>
                                    <li>Os SET de itens só podem ser utilizados pelo combat role definido no item.</li>
                                    <li>Os itens não podem aplicar efeitos temporários ou permanentes. (não tem componente para marcar) (É possível usar a própria carta para um efeito de uma rodada, mas isso deve ser uma exceção)</li>
                                    <li>Existem 3 níveis de poder de itens, além de alguns itens especiais ainda mais fortes que serão o Sets Lendários de cada role. (conjuntos de arma e armadura temáticos que quando reunidos no mesmo herói dão um poder extra,
                                        além de potencializar o poder natural daquele herói. Serão criados um específico para cada Combat Role)</li>
                                    <li>Por nível haverão 16 armas e 16 armaduras, divididas nas seguintes categorias:</li>
                                </ul>
                                <p>   <strong>WEAPONS</strong></p>
                                <ul>
                                    <li><strong>Melees</strong></li>
                                </ul>
                                <ul>
                                    <li><strong> Rangeds</strong></li>
                                </ul>
                                <p> <strong>ARMORS</strong></p>
                                <ul>
                                    <li><strong>8 Heavy</strong></li>
                                </ul>
                                <ul>
                                    <li><strong>Light</strong></li>
                                </ul>
                                <p>  <strong>TABELA DE LIMITE DE BÔNUS:</strong> </p>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p><strong>Itens</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Limite</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Arma</p>
                                            </td>
                                            <td>
                                                <p>+3 Acerto</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Arma</p>
                                            </td>
                                            <td>
                                                <p>+4 Dano</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Armadura</p>
                                            </td>
                                            <td>
                                                <p>+20 HP</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Armadura</p>
                                            </td>
                                            <td>
                                                <p>+3 Defesa</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p> </p>
                                <p><strong>VALORES DE BALANCEAMENTO:</strong><br />Para realizarem o balanceamento do jogo considerem que as seguintes opções se equivalem, sendo chamadas neste documento como 1 CP, ou 1 de Capacidade de Poder.</p>
                                <p>É possível retirar ou ampliar coisas de qualquer item ou ataque e adicionar em outros locais utilizando as proporções da tabela a seguir.</p>
                                <p>É importante notar que estes valores são atribuídos como medida de comparação, ou seja, seu item, ataque ou monstro não deve ter efeitos além daqueles que foram pagos com os CP’s. Todos os efeitos devem ser levados em consideração. </p>
                                <p><strong>Como parâmetro, 1 ponto de Capacidade de Poder é igual a:</strong></p>
                                <ul>
                                    <li><em>+1 damage (2 de dano com uma condição especial)</em></li>
                                    <li><em>1 de Cura</em></li>
                                    <li><em>+1 to hit</em></li>
                                    <li><em>+5 HP</em></li>
                                    <li><em>+1 Defense</em></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer text-faded text-center py-5 impressaoNao">
            <div class="container">
                <p class="m-0 small"> Casa do Goblin 2020</p>
            </div>
        </footer>

        <div class="modal" id="ModalLibrary">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Tanares Design Library</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" id="librarycontent">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="js/item.js"></script>
    <script src="js/enum.js"></script>
    <script src="js/helper.js"></script>

    <script>
        var myObject = new Vue({
            el: '#app',
            data: {
                ItensSet: {
                    Itens: [],
                },

            },
            created: function() {
                if (sessionStorage.ItensSet != "null" && sessionStorage.ItensSet != "undefined") {
                    this.jsonToItens(sessionStorage.ItensSet);
                }
            },
            mounted: function() {
                document.addEventListener('focus', this.saveSession, true);
                loadLibrary('librarycontent');

            },
            methods: {
                addItem: function(tipo) {
                    item = new Item({
                        id: this.create_UUID(),
                        proficiency: [],
                        bonus: "",
                        nome: "",
                        Property: "",
                        Propertycp: 0,
                        fontesPoder: [],
                        tipo: tipo,
                        categoria: "",
                        dano: 0,
                        ataque: 0,
                        hp: 0,
                        defesa: 0,
                        capacidadepoder: 0,
                    });

                    item.level = itemlevels[0];
                    this.ItensSet.Itens.push(item);

                },
                dropItem: function(itemId) {
                    let removeIndex = this.ItensSet.Itens.map(function(item) {
                        return item.id;
                    }).indexOf(itemId);
                    this.ItensSet.Itens.splice(removeIndex, 1);
                },
                saveSession: function() {
                    sessionStorage.ItensSet = JSON.stringify(this.ItensSet);
                },
                download: function() {
                    let element = document.createElement('a');
                    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(JSON.stringify(this.ItensSet)));
                    element.setAttribute('download', "itens");

                    element.style.display = 'none';
                    document.body.appendChild(element);

                    element.click();

                    document.body.removeChild(element);
                },
                getFile: function(event) {
                    let file = event.target.files[0];
                    let reader = new FileReader();
                    reader.onload = this.loadobj;
                    reader.readAsText(file);

                },
                loadobj: function(evt) {
                    try {
                        this.jsonToItens(evt.target.result);
                    } catch (error) {
                        alert(error);
                    }
                },
                jsonToItens: function(stringJson) {
                    try {
                        let loadobj = JSON.parse(stringJson);
                        itens = [];
                        for (const objItem of loadobj.Itens) {
                            let item = new Item({
                                id: objItem.id,
                                proficiency: objItem.proficiency,
                                bonus: objItem.bonus,
                                nome: objItem.nome,
                                Property: objItem.Property,
                                Propertycp: objItem.Propertycp,
                                fontesPoder: objItem.fontesPoder,
                                tipo: objItem.tipo,
                                categoria: objItem.categoria,
                            });
                            item.level = objItem._level;
                            item.dano = objItem.dano;
                            item.ataque = objItem.ataque;
                            item.hp = objItem.hp;
                            item.defesa = objItem.defesa;
                            item.capacidadepoder = objItem.capacidadepoder;
                            item.Propertycp = objItem.Propertycp;
                            itens.push(item);
                        }

                        this.ItensSet.Itens = itens;
                    } catch (error) {
                        console.log(error);
                    }

                },
                create_UUID: function() {
                    let dt = new Date().getTime();
                    let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                        let r = (dt + Math.random() * 16) % 16 | 0;
                        dt = Math.floor(dt / 16);
                        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
                    });
                    return uuid;
                },
            }
        })
    </script>

</body>

</html>